@import "tailwindcss";

/* -----------------------------
   THEME (VARIABLE ONLY)
------------------------------ */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* -----------------------------
   BASE STYLES
------------------------------ */
body {
    @apply bg-slate-100 text-slate-800 font-sans;
}
